<html>
<head> 
    <title> Procedure Selection  </title>
</head>
<body>
    <form id="process" method = "post"> 
       <input type = "submit" name = "button_value" value = "add_file">
       <br>
       <input type = "submit" name = "button_value" value = "my_files">
    </form>
</body>
</html>