<html>
<heading>
    <title> Login </title>
</heading>
<body>
    <form id = "login" method = "post"> 
     <p> User: <input name = "user" type = "text" length = 10 > </p>
     <p> Password: <input name = "password" type = "text" length = 10> </p>
     <input type="submit" name = "send" value = "send"> 

    </form>
</body>

</html>